# Ignore configuration files
*.ini

# Ignore database files
*.db

# Ignore Python version files created by pyenv
*.python-version

# Ignore Microsoft Excel files

# Excel spreadsheets
*.xls
*.xlsx

# Excel temp files
~$*.xls*
~*.xlsx

# Excel Add-In Files
*.xlam
*.xll
*.xla
*.xlt
*.xlw

# Excel macro-enabled workbook files
*.xlsm

# Excel binary workbook files
*.xlsb

# Excel older versions
*.xla
*.xlt
*.xlm
*.xlw
*.xlc

# CatBoost
**catboost_info/

# LightGBM
**LightGBM_model.txt
**LightGBM_config.conf

# XGBoost
**xgboost-model

# Mercury
**/celery*.sqlite
**/celerybeat-schedule.*

# Django logs
**/django-errors.log

# Django specific
**/*.log
**/*.pot
**/*.pyc
**/__pycache__/
**/local_settings.py
**/db.sqlite3
**/db.sqlite3-journal
**/media

# Celery stuff
**/celerybeat.pid
**/celerycam.pid
**/celeryd.pid
